.set-password {
    margin-top: 20px;
}

.set-password h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;

}
.set-password h2:hover {
    color: #ffcc00;
}

.set-password form {
    display: flex;
    flex-direction: column;
}

.set-password label {
    margin-bottom: 8px;
    font-weight: bold;
}

.set-password input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.set-password button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.set-password button:hover {
    background-color: #0056b3;
}
